@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --theBlack: #040505;
  --theWhite: #fff;
  --theGreen: #23ce6b;
  --theBlue: #1a27c9;
  --theGray: #83858c;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', Courier, monospace;
}

section {
  /* height: 100vh; */
  background-color: lightgreen;
  border: 1px solid black;
  padding-top: 96px;
}

/* ------------ Nav ------------ */
nav {
  background-color: var(--theBlack);
  color: var(--theWhite);
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav .logo img {
  width: 200px
}

nav .mainMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: var(--theWhite);
  transition: color 0.2s ease;
}


nav .mainMenu li a:hover,
nav .mainMenu li a:active {
  color: var(--theGray);
}

nav .mainMenu li a button {
  color: var(--theWhite);
  background-color: var(--theBlue);
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
  font-family: 'Montserrat', Courier, monospace;
  font-weight: bold;
}

nav .mainMenu li a button:hover {
  background-color: var(--theWhite);
  color: var(--theBlue);
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 6px;
  cursor: pointer;
}

/* When to activate hamburger menu*/
@media only screen and (max-width: 850px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--theBlack);
    transition: top 1s ease;
    display: flex;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    color: var(--theGray);
  }

}

/* ----------- End of Nav ---------- */

/* ----------- Hero ----------- */
#hero-container {
  height: 100vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  padding: 0;
  border: none;
}


#hero-container .hero-copy-container {
  background-color: lime;
  height: 100%;
  width: 50%;
}

#hero-container .hero-video-container {
  background-color: darkcyan;
  height: 100%;
  width: 50%;
}

/* tablet */
@media only screen and (max-width: 850px) {
  #hero-container {
    flex-direction: column;
    height: 130vh;
  }

  #hero-container .hero-copy-container {
    width: 100%;
    height: 45%;
  }

  #hero-container .hero-video-container {
    width: 100%;
    height: 55%;
  }
}

/* ----------- End of Hero -------- */
/* ------- Main --------- */
main {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (max-width: 850px) {
  main {
    width: 100%;
  }
}

/* ------ End of main -------- */